[Unit]
Description=LARS Robot Server (API)
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User={{SERVICE_USER}}
Group={{SERVICE_USER}}
WorkingDirectory={{INSTALL_DIR}}
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH={{INSTALL_DIR}}/app
Environment=GPIOZERO_PIN_FACTORY=lgpio

ExecStart={{PYTHON_BIN}} {{INSTALL_DIR}}/install.py --tag dev --write-env
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
